/*
* Filter is not supported in any MIE browser or Edge
*/
/*--------------------------------*/
/*-- [ CSS RESET ] --------------*/
/*------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Miso';
  src: url("../font/miso/miso-regular.eot");
  src: url("../font/miso/miso-regular.eot?#iefix") format("embedded-opentype"), url("../font/miso/miso-regular.woff") format("woff"), url("../font/miso/miso-regular.ttf") format("truetype"), url("../font/miso/miso-regular.svg#misoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Bebas';
  src: url("../font/bebas/bebas.eot");
  src: url("../font/bebas/bebas.eot?#iefix") format("embedded-opentype"), url("../font/bebas/bebas.woff") format("woff"), url("../font/bebas/bebas.ttf") format("truetype"), url("../font/bebas/bebas.svg#bebasregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Bebas Neue';
  src: url("../font/bebas-neue/bebas-neue-light.eot");
  src: url("../font/bebas-neue/bebas-neue-light.eot?#iefix") format("embedded-opentype"), url("../font/bebas-neue/bebas-neue-light.woff") format("woff"), url("../font/bebas-neue/bebas-neue-light.ttf") format("truetype"), url("../font/bebas-neue/bebas-neue-light.svg#bebasregular") format("svg");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Bebas Neue';
  src: url("../font/bebas-neue/bebas-neue-thin.eot");
  src: url("../font/bebas-neue/bebas-neue-thin.eot?#iefix") format("embedded-opentype"), url("../font/bebas-neue/bebas-neue-thin.woff") format("woff"), url("../font/bebas-neue/bebas-neue-thin.ttf") format("truetype"), url("../font/bebas-neue/bebas-neue-thin.svg#bebasregular") format("svg");
  font-weight: 300;
  font-style: normal; }
@-webkit-keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 0; } }
@keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 0; } }
@-webkit-keyframes loader {
  0% {
    background: #ddd; }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; } }
@keyframes loader {
  0% {
    background: #ddd; }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; } }
@-webkit-keyframes toTopFromBottom {
  49% {
    -webkit-transform: translateY(-100%); }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%); }
  51% {
    opacity: 1; } }
@keyframes toTopFromBottom {
  49% {
    transform: translateY(-100%); }
  50% {
    opacity: 0;
    transform: translateY(100%); }
  51% {
    opacity: 1; } }
/*--------------------------------*/
/*--GRID STYLES--------------*/
/*------------------------------*/
/* Computer */
.grid_1 {
  width: 6.5%; }

.grid_2 {
  width: 15%; }

.grid_3 {
  width: 23.5%; }

.grid_4 {
  width: 32%; }

.grid_5 {
  width: 40.5%; }

.grid_6 {
  width: 49%; }

.grid_7 {
  width: 57.5%; }

.grid_8 {
  width: 66%; }

.grid_9 {
  width: 74.5%; }

.grid_10 {
  width: 83%; }

.grid_11 {
  width: 91.5%; }

.grid_12 {
  width: 100%; }

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: block;
  float: left;
  margin: 0 2% 1% 0; }

.alpha {
  margin-left: 0; }

.omega {
  margin-right: 0; }

.container {
  margin: auto;
  max-width: 1000px;
  width: 90%; }

/* Mobile */
@media screen and (max-width: 480px) {
  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {
    width: 100%; } }
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

html {
  height: 100%; }

body {
  background: #232323;
  font-family: "Miso", sans-serif !important;
  overflow: scroll;
  overflow-x: hidden; }

/*
* Clearfix hack by Nicolas Gallagher:
* http://nicolasgallagher.com/micro-clearfix-hack/
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
.og-grid {
  list-style: none;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  width: 100%; }
  .og-grid li {
    display: inline-block;
    height: 250px;
    margin: 10px 5px 0 5px;
    vertical-align: top; }

.og-grid li > a,
.og-grid li > a img {
  border: none;
  border-radius: 50%;
  display: block;
  max-width: 250px;
  outline: none;
  position: relative; }

.og-grid li.og-expanded > a::after {
  border: solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #232323;
  content: " ";
  height: 0;
  left: 50%;
  margin: 14px 0 0 -15px;
  pointer-events: none;
  position: absolute;
  top: auto;
  width: 0;
  z-index: 99; }

.og-expander {
  background: #ffffff;
  border-bottom: 5px solid #232323;
  border-top: 5px solid #232323;
  height: 0;
  left: 0;
  margin-top: 10px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: auto;
  width: 100%; }

.og-expander-inner {
  height: 100%;
  padding: 50px 30px; }

.og-close {
  cursor: pointer;
  height: 22px;
  position: absolute;
  right: 40px;
  top: 20px;
  width: 22px; }

.og-close::before,
.og-close::after {
  background: #232323;
  content: '';
  height: 4px;
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: rotate(45deg);
  /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
  -ms-transform: rotate(45deg);
  /* IE 9 */
  transform: rotate(45deg);
  /* IE 10, Fx 16+, Op 12.1+ */ }

.og-close::after {
  -webkit-transform: rotate(-45deg);
  /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  transform: rotate(-45deg);
  /* IE 10, Fx 16+, Op 12.1+ */ }

.og-close:hover::before,
.og-close:hover::after {
  background: #232323; }

.og-fullimg,
.og-details {
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 50%; }

.og-fullimg {
  text-align: center; }
  .og-fullimg img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%; }

.og-details {
  padding: 0 40px 0 20px; }
  .og-details h3 {
    font-weight: 300;
    font-size: 35px;
    margin-bottom: 10px;
    padding: 40px 0 0px;
    text-align: left;
    word-spacing: 5px; }
  .og-details h6 {
    color: #232323;
    letter-spacing: 0px;
    line-height: 1.3em;
    margin-bottom: 10px;
    text-align: left;
    word-spacing: 3px; }
  .og-details p {
    color: #999;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px; }
  .og-details a {
    background: #333333;
    border-bottom: 6px solid #232323;
    border-radius: 6px;
    color: #f2f2f2;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 15px 0 0;
    outline: none;
    padding: 10px 20px;
    text-transform: uppercase; }
    .og-details a:hover {
      background: #25A7CA;
      border-bottom: 6px solid #232323;
      color: #ffffff; }

.og-details h6::before {
  color: #232323;
  content: 'Skills: ';
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.3em;
  font-weight: 100; }

.og-details a::before {
  content: '\00BB';
  display: inline-block;
  margin-right: 10px; }

.og-loading {
  animation: loader 0.5s infinite ease-in-out both;
  background: #ddd;
  border-radius: 50%;
  box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  height: 20px;
  left: 50%;
  margin: -25px 0 0 -25px;
  position: absolute;
  top: 50%;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  width: 20px; }

@media screen and (max-width: 830px) {
  .og-expander h3 {
    font-size: 32px; }
  .og-expander p {
    font-size: 1.2em; }
  .og-expander a {
    font-size: 12px; } }
@media screen and (max-width: 650px) {
  .og-fullimg {
    display: none; }

  .og-details {
    float: none;
    width: 100%; } }
.navigation__menu-toggle {
  background: url("../img/menu-icon.png") no-repeat;
  background-size: 22px;
  height: 22px;
  overflow: hidden;
  position: fixed;
  right: 8px;
  text-indent: -9999px;
  top: 15px;
  transition: all 0.3s;
  width: 22px;
  z-index: 999; }

.dwab__logo {
  background: #232323 url("../img/dan-logo-nav.png") no-repeat;
  background-size: 30px;
  border-radius: 50%;
  height: 30px;
  left: 8px;
  overflow: hidden;
  opacity: 0;
  position: fixed;
  text-indent: -9999px;
  top: 15px;
  transition: all 0.3s;
  width: 30px;
  z-index: 999; }
  .dwab__logo:after {
    display: none; }
  .dwab__logo:hover {
    background-color: #25A7CA;
    background-position: 0 -30px; }
    .dwab__logo:hover:before {
      -webkit-animation: toTopFromBottom 0.3s forwards;
      /* Chr, Saf */
      animation: toTopFromBottom 0.3s forwards;
      /* IE > 9, Fx > 15, Op > 12.0 */ }

.navigation__wrapper {
  background: #333;
  border-bottom: 10px solid #252525;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 999; }

.navigation__tab {
  color: #f2f2f2;
  cursor: pointer;
  float: left;
  font-size: 1.3em;
  height: 50px;
  line-height: 2.3em;
  text-align: center;
  text-transform: uppercase;
  width: 33.333333333%; }
  .navigation__tab:hover {
    background: #25A7CA;
    color: #ffffff; }

.navigation__menu {
  margin: 0 auto;
  width: 75%; }
  @media (min-width: 36em) {
    .navigation__menu {
      width: 40%; } }

.rotate {
  -webkit-transform: rotate(90deg);
  /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
  -ms-transform: rotate(90deg);
  /* IE 9 */
  transform: rotate(90deg);
  /* IE 10, Fx 16+, Op 12.1+ */ }

.shift-down {
  margin-top: 52px; }

/*--------------------------------*/
/*-- Dan Cicconi, July 2015  ] ---*/
/*-- http://danwithabeard.com ] --*/
/*--------------------------------*/
h1, h2, h3, h4, h5, h6 {
  color: #25A7CA;
  font-family: "Bebas", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
  text-transform: uppercase; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1em; }

a {
  color: #232323;
  text-decoration: none; }
  a:hover {
    color: #ffffff; }

p {
  color: #232323;
  font-size: 1.3em; }

.loader {
  background: url("../img/loader-anim.gif") 50% 50% no-repeat #f9f9f9;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99999; }

#north {
  background: #232323;
  height: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }

#introduction {
  background-color: #25A7CA;
  background-size: cover;
  min-height: 370px;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 5; }

.introduction__salutation {
  color: #232323;
  font-family: "Bebas", sans-serif;
  margin-bottom: 10px;
  opacity: 0;
  transition: all 1s; }

.introduction__logo {
  background: url("../img/dan-logo.png") no-repeat;
  background-size: 100px;
  display: block;
  height: 100px;
  margin: 0 auto 10px;
  opacity: 0;
  transition: all 1s;
  width: 100px; }

.introduction__tagline {
  opacity: 0;
  transition: all 1s; }

#button {
  opacity: 0;
  margin: 10px 0 0 0;
  transition: all 3s;
  width: 30px; }

.button {
  transition: all 1s ease-in-out;
  -webkit-animation: blink 2s ease-in-out 0 infinite normal running;
  /* Chr, Saf */
  animation: blink 2s ease-in-out 0 infinite normal running;
  /* IE > 9, Fx > 15, Op > 12.0 */ }

.video-overlay {
  background: url("../img/overlay-pattern.png") repeat;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 9; }

#contact,
#greeting {
  z-index: 9999;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -40%);
  /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
  -ms-transform: translate(-50%, -40%);
  /* IE 9 */
  transform: translate(-50%, -40%);
  /* IE 10, Fx 16+, Op 12.1+ */ }
  #contact h1,
  #greeting h1 {
    text-shadow: 1px 1px 1px #ffffff;
    text-transform: uppercase; }
  #contact p,
  #greeting p {
    color: #232323;
    text-shadow: 1px 1px 1px #ffffff;
    text-transform: uppercase; }
    #contact p a,
    #greeting p a {
      color: #232323;
      text-transform: uppercase; }

#projects-intro {
  background: #232323;
  color: #ffffff;
  padding: 30px 0 0 0;
  text-align: center; }

img {
  max-width: 100%; }

.desaturate {
  transition: all 0.3s ease-in-out;
  -webkit-filter: grayscale(100%);
  /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%);
  /* None yet */
  -webkit-transform: translateZ(0);
  /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
  -ms-transform: translateZ(0);
  /* IE 9 */
  transform: translateZ(0);
  /* IE 10, Fx 16+, Op 12.1+ */ }
  .desaturate:hover {
    -webkit-filter: grayscale(0%);
    /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%);
    /* None yet */ }

.skills-list {
  overflow: hidden;
  margin: 0 auto 10px;
  width: 100%; }
  .skills-list li {
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    width: 23%; }

.skills-list__icon {
  background-size: 50px;
  height: 50px;
  margin: 0 auto 10px;
  width: 50px; }

.html {
  background-image: url("../img/icons/html-lbg.png"); }

.css {
  background-image: url("../img/icons/css-lbg.png"); }

.php {
  background-image: url("../img/icons/php-lbg.png"); }

.sass {
  background-image: url("../img/icons/sass.png"); }

.js {
  background-image: url("../img/icons/js-lbg.png"); }

.rwd {
  background-image: url("../img/icons/responsive.png"); }

.wp {
  background-image: url("../img/icons/wp-lbg.png"); }

.ux {
  background-image: url("../img/icons/user-experience.png"); }

.rails {
  background-image: url("../img/icons/rails.png"); }

.email-dev {
  background-image: url("../img/icons/email-dev.png"); }

.git {
  background-image: url("../img/icons/git.png"); }

.acs {
  background-image: url("../img/icons/creative-suite.png"); }

/* General Slides */
.slide {
  background-attachment: fixed;
  height: auto;
  padding: 100px 0;
  position: relative;
  width: 100%;
  z-index: 5; }

#slide3 {
  background-color: #232323; }
  #slide3 h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 2em; }
  #slide3 h2 {
    font-size: 2em;
    font-weight: 400;
    line-height: 1em;
    padding-bottom: 20px;
    word-wrap: break-word; }
    #slide3 h2 span {
      color: #b2b2b2;
      font-family: "Bebas Neue", sans-serif;
      font-size: 1.3em;
      font-weight: 100; }

#slide6 {
  background-color: #25A7CA; }
  #slide6 h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 2em; }
  #slide6 h2 {
    color: #ffffff;
    font-size: 2em;
    font-weight: 400;
    line-height: 1em;
    padding: 15px;
    text-align: left;
    word-wrap: break-word; }
    #slide6 h2 span {
      color: #232323;
      font-family: "Bebas Neue", sans-serif;
      font-size: 1.3em;
      font-weight: 100; }
  #slide6 h6 {
    color: #ffffff;
    text-align: left;
    padding: 15px; }
    #slide6 h6 span {
      color: #232323;
      font-family: "Bebas Neue", sans-serif;
      font-size: 1.3em;
      font-weight: 100; }
  #slide6 p {
    padding: 15px; }
  #slide6 img {
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px;
    max-width: 270px;
    width: 100%; }

#slide6b {
  background-color: #ffffff; }
  #slide6b h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 2em; }
  #slide6b h2 {
    font-size: 2em;
    font-weight: 400;
    line-height: 1em;
    padding-bottom: 20px;
    word-wrap: break-word; }
    #slide6b h2 span {
      color: #b2b2b2;
      font-family: "Bebas Neue", sans-serif;
      font-size: 1.3em;
      font-weight: 100; }

/* Contact Form */
#slide7 {
  background-color: #25A7CA;
  color: #232323; }
  #slide7 h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 2em; }
  #slide7 h2 {
    color: #ffffff;
    font-size: 2em;
    font-weight: 400;
    line-height: 1em;
    padding-bottom: 20px;
    word-wrap: break-word; }
    #slide7 h2 span {
      color: #b2b2b2;
      font-family: "Bebas Neue", sans-serif;
      font-size: 1.3em;
      font-weight: 100; }

#slide8 {
  background: #111111;
  box-shadow: black 0px 8px 23px 0px;
  padding: 10px 0 0 0; }
  #slide8 #social-wrapper {
    width: 213px; }
  #slide8 #copyright {
    color: #b2b2b2;
    padding: 10px 0;
    text-align: right; }

@media screen and (max-width: 480px) {
  #slide8 {
    margin-bottom: 0 !important; }
    #slide8 #social-wrapper {
      margin: 0 auto; }
    #slide8 #copyright {
      text-align: center; } }
/* Tablet */
@media screen and (max-width: 1024px) {
  .slide {
    background-attachment: fixed;
    padding: 100px 0;
    position: relative;
    width: 100%; }

  #content {
    text-align: center;
    width: 100%; } }
/* Mobile */
@media screen and (max-width: 480px) {
  .slide {
    background-attachment: inherit;
    padding: 100px 0;
    position: relative;
    width: 100%; } }
#anchor {
  height: 1px;
  position: relative;
  width: 100%; }

#footer {
  background: #111 url("../img/html-code.png") no-repeat left bottom;
  background-size: cover;
  bottom: 0;
  padding: 20px 0;
  position: fixed;
  z-index: 0; }

.social {
  background: url("../img/rcs-social-icons.png") no-repeat;
  background-size: 232px 87px;
  display: inline-block;
  height: 40px;
  margin-top: 5px;
  width: 40px; }

.facebook {
  background-position: 0 0; }
  .facebook:hover {
    background-position: 0 -43px; }

.linkedin {
  background-position: -46px 0; }
  .linkedin:hover {
    background-position: -46px -43px; }

.twitter {
  background-position: -94px 0px; }
  .twitter:hover {
    background-position: -94px -43px; }

.instagram {
  background-position: -140px 0px; }
  .instagram:hover {
    background-position: -140px -43px; }

.github {
  background-position: -187px 0px; }
  .github:hover {
    background-position: -187px -43px; }

.social[title]:hover:before {
  background: #232323;
  border-radius: 5px;
  color: #ffffff;
  content: attr(title);
  margin-left: 10px;
  padding: 4px 8px;
  position: absolute;
  top: -33px;
  white-space: nowrap;
  z-index: 20; }
.social[title]:hover:after {
  border: solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #232323;
  content: " ";
  height: 0;
  margin: -27px 0 0 13px;
  pointer-events: none;
  position: absolute;
  top: auto;
  width: 0;
  z-index: 99; }

/* --- Wufoo --- */
.wufoo label,
.wufoo label.desc {
  font-family: 'Varela Round', sans-serif !important; }

@media screen and (max-width: 600px) {
  #wufooFormz1ti9kpj0vvauvw {
    height: 610px !important; } }
/* Mobile */
@media all and (orientation: landscape) and (max-width: 590px) {
  #footer {
    bottom: 0;
    position: relative;
    z-index: 1; } }
@media screen and (max-width: 480px) {
  #footer {
    bottom: 0;
    position: relative;
    z-index: 1; }

  .social[title]:hover:before {
    margin-left: -45px;
    top: -33px; } }

/*# sourceMappingURL=mq.css.map */
