.social {
  background: url('../img/rcs-social-icons.png') no-repeat;
  background-size: 232px 87px;
  display: inline-block;
  height: 40px;
  margin-top: 5px;
  width: 40px;
}

.linkedin {
  background-position: -46px 0;

  &:hover {
    background-position: -46px -43px;
  }
}

.github {
  background-position: -187px 0px;

  &:hover {
    background-position: -187px -43px;
  }
}

.social[title] {
  &:hover {
    &:before {
      background: $not-black;
      border-radius: 5px;
      color: $white;
      content: attr(title);
      margin-left: 10px;
      padding: 4px 8px;
      position: absolute;
      top: -33px;
      white-space: nowrap;
      z-index: 20;
    }

    &:after {
      border: solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $not-black;
      content: " ";
      height: 0;
      margin: -27px 0 0 13px;
      pointer-events: none;
      position: absolute;
      top: auto;
      width: 0;
      z-index: 99;
    }
  }
}
