$base-font-multiplier: 1 !default;

@mixin animation($animation) {
  -webkit-animation: $animation; /* Chr, Saf */
          animation: $animation; /* IE > 9, Fx > 15, Op > 12.0 */
}

/*
* Filter is not supported in any MIE browser or Edge
*/
@mixin filter($filter) {
  -webkit-filter: $filter; /* Ch 23+, Saf 6.0+, BB 10.0+ */
          filter: $filter; /* None yet */
}

@mixin rem( $property, $a:0, $b:$a, $c:$a, $d:$b ) {
  @if ( $property == "font-size" ) {
    // $a is the font size
    // %b is the keyword
    @if ( $a != $b ) {
      font-size: $b;
    }
    @else {
      font-size: $a * $base-font-multiplier * 16px;
    }
    font-size: $a * 1rem;
  } @else {
    $apx: $a * $base-font-multiplier * 16px;
    $bpx: $b * $base-font-multiplier * 16px;
    $cpx: $c * $base-font-multiplier * 16px;
    $dpx: $d * $base-font-multiplier * 16px;
    $arem: $a * 1rem;
    $brem: $b * 1rem;
    $crem: $c * 1rem;
    $drem: $d * 1rem;

    @if ( $property == "padding" or $property == "margin" ){
      #{$property}: $apx $bpx $cpx $dpx;
      #{$property}: $arem $brem $crem $drem;
    } @else {
      #{$property}: $apx;
      #{$property}: $arem;
    }
  }
}

@mixin transform($transforms) {
  -webkit-transform: $transforms; /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
      -ms-transform: $transforms; /* IE 9 */
          transform: $transforms; /* IE 10, Fx 16+, Op 12.1+ */
}