#mobile-menu-toggle {
  width: 22px;
  height: 22px;
  position:fixed;
  top:15px;
  right:8px;
  z-index:999;
  text-indent: -9999px;
  overflow: hidden;
  background:url("../img/menu-icon.png") no-repeat;
  background-size:22px;
  -webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	   -o-transition: all 0.3s;
	      transition: all 0.3s;
}

#dan-logo-nav {
  width: 30px;
  height: 30px;
  position:fixed;
  top:15px;
  left:8px;
  z-index:999;
  text-indent: -9999px;
  overflow: hidden;
  background:$not-black url("../img/dan-logo-nav.png") no-repeat;
  background-size:30px;
  border-radius:50%;
  overflow: hidden;
  opacity:0;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;	
       -o-transition: all 0.3s;
          transition: all 0.3s;

  &:after {
  	display: none;
  }

  &:hover {
  	background-color:$ice-blue;
  	background-position: 0 -30px;
  	
  	&:before{
  		-webkit-animation: toTopFromBottom 0.3s forwards;
		-moz-animation: toTopFromBottom 0.3s forwards;
		animation: toTopFromBottom 0.3s forwards;
  	}
  }        
}

@-webkit-keyframes toTopFromBottom {
	49% {
		-webkit-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toTopFromBottom {
	49% {
		-moz-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toTopFromBottom {
	49% {
		transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}

#mobile-menu {
	position: fixed;
	z-index: 999;
	width:100%;
	overflow:hidden;
	background: #333;
	border-bottom: 10px solid #252525;

	ul { 
		li {
			color: #f2f2f2;
			height: 50px;
			width: 33.333333333%;
			float: left;
			font-size:1.3em;
			text-align: center;
			text-transform: uppercase;
			line-height: 2.3em;
			cursor: pointer;

			&:hover {
				background: $ice-blue;
				color: $white;
			}
		}
	}		
}	

.stubble {
	margin:0 auto;
	width:75%;

	@include sb-media(36em){
		width:40%;
	}
}

.rotate {
	-webkit-transform: rotate(90deg); 
	   -moz-transform: rotate(90deg); 
	    -ms-transform: rotate(90deg);
	     -o-transform: rotate(90deg); 
	        transform: rotate(90deg);
}

.shift-down {
	margin-top:52px;
}