/*--------------------------------*/
/*-- Dan Cicconi, July 2015  ] ---*/
/*-- http://danwithabeard.com ] --*/
/*--------------------------------*/

h1, h2, h3, h4, h5, h6 {
  color: $ice-blue;
  font-family: $head-font;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

a {
  color: $not-black;
  text-decoration: none;

  &:hover {
    color: $white;
  }
}

em {
  font-size: 1.2em;
  font-style: italic;
}

p {
  color: $not-black;
  font-size: 1.3em;
}

.loader {
  background: url('../img/loader-anim.gif') 50% 50% no-repeat rgb(249,249,249);
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99999;
}

#north {
  background: $not-black;
  height: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#salutation {
  color: $not-black;
  font-family: $head-font;
  margin-bottom: 10px;
  opacity: 0;
  transition: all 1s;
}

#dan-logo {
  background: url('../img/dan-logo.png') no-repeat;
  background-size: 100px;
  display: block;
  height: 100px;
  margin: 0 auto 10px;
  opacity: 0;
  transition: all 1s;
  width: 100px;
}

#tagline {
  opacity:0;
  transition: all 1s;
}

#button {
  opacity: 0;
  margin: 10px 0 0 0;
  transition: all 3s;
  width: 30px;
}

.button {
  transition: all 1s ease-in-out;
    
  -webkit-animation-direction: normal;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: blink;
  -webkit-animation-timing-function: ease-in-out;
    
  -moz-animation-direction: normal;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-name: blink;
  -moz-animation-timing-function: ease-in-out;
}

#introduction {
  background-size: cover;
  min-height: 370px;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 5;
}

.video-overlay {
  background: url('../img/overlay-pattern.png') repeat;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 9;
}

#intro-video {
  bottom:0;
  min-width:1645px;
  overflow:hidden;
  position:absolute;
  right:0;
  width:100%;
}

#contact,
#greeting {
  z-index:9999;
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -40%));

  h1 {
    text-shadow: 1px 1px 1px $white;
    text-transform: uppercase;
  }

  p {
    color: $not-black;
    text-shadow: 1px 1px 1px $white;
    text-transform: uppercase;

    a {
      color: $not-black;
      text-transform: uppercase;
    }
  }
}

#projects-intro {
  background: $not-black;
  color: $white;
  padding: 30px 0 0 0;
  text-align: center;
}

img {
  max-width: 100%;
}

.desaturate {
  transition: all 0.3s ease-in-out;
  @include filter(grayscale(100%));
  @include transform(translateZ(0));

  &:hover {
    @include filter(grayscale(0%));
  }
}

.skills-list {
  overflow: hidden;
  margin: 0 auto 10px;
  width: 100%;

  li {
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    width: 23%;

    a {
      background-size: 50px;
      display: block;
      height: 50px;
      margin: 0 auto 10px;
      text-indent: 9999px;
      width: 50px;
    }
  }
}

#html {
  background: url('../img/icons/html-lbg.png') no-repeat;
  background-size: 50px;
}

#css {
  background:url('../img/icons/css-lbg.png') no-repeat;
  background-size: 50px;
}

#php {
  background:url('../img/icons/php-lbg.png') no-repeat;
  background-size: 50px;
}

#sass {
  background:url('../img/icons/sass.png') no-repeat;
  background-size: 50px;
}

#js {
  background:url('../img/icons/js-lbg.png') no-repeat;
  background-size: 50px;
}

#rwd {
  background: url('../img/icons/responsive.png') no-repeat;
  background-size: 50px;
}

#wp {
  background: url('../img/icons/wp-lbg.png') no-repeat;
  background-size: 50px;
}

#ux {
  background: url('../img/icons/user-experience.png') no-repeat;
  background-size: 50px;
}

#ui {
  background: url('../img/icons/user-interface.png') no-repeat;
  background-size: 50px;
}

#email-dev {
  background: url('../img/icons/email-dev.png') no-repeat;
  background-size: 50px;
}

#pm {
  background: url('../img/icons/project-management.png') no-repeat;
  background-size: 50px;
}

#acs {
  background: url('../img/icons/creative-suite.png') no-repeat;
  background-size: 50px;
}
