/* General Slides */ 

.slide {
  background-attachment: fixed;
  height:auto;
  padding:100px 0;
  position: relative;
  width:100%;
  z-index:5;
}

#slide3 {
  background-color: $not-black;

  h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 2em;
  }

  h2 {
    font-size: 2em;
    font-weight: 400;
    line-height: 1em;
    padding-bottom: 20px;
    word-wrap: break-word;

    span {
      color: $light-gray;
      font-family: $alt-head;
      font-size: 1.3em;
      font-weight: 100;
    }
  }
}

#slide6 {
  background-color:$ice-blue;

  h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 2em;
  }

  h2 {
    color: $white;
    font-size: 2em;
    font-weight: 400;
    line-height: 1em;
    padding: 15px;
    text-align: left;
    word-wrap: break-word;

    span {
      color: $not-black;
      font-family: $alt-head;
      font-size: 1.3em;
      font-weight: 100;
    }
  }

  h6 {
    color: $white;
    text-align: left;
    padding: 15px;

    span {
      color: $not-black;
      font-family: $alt-head;
      font-size: 1.3em;
      font-weight: 100;
    }
  }

  p {
    padding: 15px;
  }

  img {
    border-radius: 50%;
    display: block;
    margin:0 auto 10px;
    max-width: 270px;
    width: 100%;
  }
}

#slide6b {
  background-color: $white;

  h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 2em;
  }

  h2 {
    font-size: 2em;
    font-weight: 400;
    line-height: 1em;
    padding-bottom: 20px;
    word-wrap: break-word;

    span {
      color: $light-gray;
      font-family: $alt-head;
      font-size: 1.3em;
      font-weight: 100;
    }
  }
}

/* Contact Form */
#slide7 {
  background-color: $ice-blue;
  color: $not-black;

  h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 2em;
  }

  h2 {
    color: $white;
    font-size: 2em;
    font-weight: 400;
    line-height: 1em;
    padding-bottom: 20px;
    word-wrap: break-word;

    span {
      color: $light-gray;
      font-family: $alt-head;
      font-size: 1.3em;
      font-weight: 100;
    }
  }
}

#slide8 {
  background: $charcoal;
  box-shadow:rgb(0, 0, 0) 0px 8px 23px 0px;
  padding: 10px 0 0 0;

  #social-wrapper {
    width: 213px;
  }

  #copyright {
    color: $light-gray;
    padding: 10px 0;
    text-align: right;
  }
}

@media screen and (max-width:480px) {
  #slide8 {
    margin-bottom: 0 !important;

    #social-wrapper {
      margin: 0 auto;
    }

    #copyright {
      text-align: center;
    }
  }
}

/* Tablet */
@media screen and (max-width: 1024px) {
  .slide {
    background-attachment: fixed;
    padding: 100px 0;
    position: relative;
    width: 100%;
  }

  #content {
    text-align: center;
    width: 100%;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .slide{
    background-attachment: inherit;
    padding: 100px 0;
    position: relative;
    width: 100%;
  }
}